$primaty: rgb(41, 41, 41);
$table-header: rgba(0, 110, 255, 0.247);
$file-input: rgba(13, 160, 13, 0.733);
$error: rgba(255, 162, 162, 0.514); 
$error-border: rgb(199, 20, 20);
$table-placeholder: rgba(189, 189, 189, 0.411);
$table-placeholder-border: rgb(197, 197, 197);
